body {
    background-image: linear-gradient(to left, gray, white);
    background-size: cover;
    padding: 250px 0;
}

* {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";

}
a{
    text-decoration: none;
}
button{
    padding: 10px;
    border-radius: 10px;
}